h1 {
  text-align: center;
  position: relative;
  top: 300px;
}

body {
  background-image: url("/Users/danielle/Desktop/Design Elements/Digital Paper/Mystical/pattern_8.jpg");
  font-family: Black Wano Demo;
  color: #bc5530;
  font-size: 24px;
  text-decoration-color: black;
}

ul {
  list-style: none;
  text-align: center;
  text-decoration: none;
  margin: 0px;
  color: #8d5d3f;
}

li {
  margin: 0px 12px;
  display: inline;
  /* padding-right: 10px; */
  padding: 0px;
}

img {
  display: block;
}

.aboutmeinfo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.image {
  flex-basis: 5%;
  /* display: block; */
  /* margin-left: -300px;
  margin-right: 50px; */
  margin-left: 350px;
  margin-right: 60px;
  position: relative;
  left: -10px;
  border: 5px solid black;
  /* max-width: auto; */
}

.paragraph1 {
  font-size: 14px;
  /* padding-right: 100px; */
  border: 5px solid black;
  text-align: center;
  position: relative;
  left: 270px;
  bottom: 80px;
}

.languagesknown {
  position: relative;
  bottom: -50px;
  right: 50px;
}

.projects {
  display: flex;
  position: relative;
  left: 50px;
}

.projectimage {
  flex: 33.33%;
  padding: 5px;
  position: inherit;
  left: 15px;
}

a:visited {
  color: #8d5d3f;
}

a:hover {
  color: #d58144;
}
