h1 {
  text-align: center;
  position: relative;
  top: 300px;
}

h2 {
  text-align: center;
  color: #f5bd62;
  text-decoration: underline;
}

body {
  background-image: url("/Users/danielle/Desktop/Design Elements/Digital Paper/Mystical/pattern_8.jpg");
  font-family: Black Wano Demo;
  color: #bc5530;
  font-size: 24px;
  text-decoration-color: black;
}

ul {
  list-style: none;
  text-align: center;
  text-decoration: none;
  margin: 0px;
  color: #8d5d3f;
}

li {
  margin: 0px 12px;
  display: inline;
  /* padding-right: 10px; */
  padding: 0px;
}

img {
  display: block;
}

.aboutmeinfo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 5px black;
}

.image {
  margin-left: 300px;
  margin-right: 60px;
  left: -10px;
  border: 5px solid black;
  border-style: double;
  object-fit: cover;
  border-color: #8d5d3f;
  /* display: block; */
  /* margin-left: -300px;
  margin-right: 50px; */
  /* max-width: auto; */
}

.paragraph1 {
  font-size: 20px;
  display: inline-block;
  /* border: 5px double black; */
  text-align: center;
  position: relative;
  left: 100px;
  bottom: 60px;
  line-height: 24px;
  color: #8d5d3f;
}

.languagesknown {
  position: relative;
  bottom: -230px;
  right: 400px;
}

.projects {
  display: flex;
  position: relative;
  margin: 0 auto;
  left: 100px;
}

.projectimage {
  flex: 33.33%;
  padding: 5px;
  position: inherit;
  left: 15px;
}

a:visited {
  color: #8d5d3f;
}

a:hover {
  color: #d58144;
}
